/*Home page css */

.modal-content{
    border-image: url(../images/strip.png) 1 0 0 0;
    border-width: 5px;
    width: auto;
    height: auto;
}
.close{
    font-size: 40px;
}
.modal-content {
    box-shadow: 0 0px 0px rgba(0,0,0,.5);
    border-radius: 0px;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
}

/*BY - sathish*/

    #main-menu.navbar {
    box-shadow: #FF7300 0px 0px 1px 0px;
    border-image: url(../images/strip.png) 6 10 0 25;
    border-width: 3px;
    background-color: white;
    min-height: 105px;
}

    .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

        .navbar {
            border-radius: 4px;
        }
        .navbar {
            position: relative;
            min-height: 50px;
            margin-bottom: 20px;
            border: 1px solid transparent;
        }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #f6802e;
    }

        body {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
.glyphicons_header {
    color: white;
    font-size: 20px;
}


/*Home page css */

/*Padding*/

.padding_allside_1{
    padding: 10px;
}
/*Padding*/

/*Margin*/

/*Margin*/

/*Image*/
@media (max-width:400px) {
    .image_responsive {
        max-width: 100px;
        max-height: 100px;
    }
    .pull-right{
        float: none;
    }
}

@media (min-width:400px) and (max-width:1000px)  {
    .image_responsive {
        max-width: 100px;
        max-height: 100px;
    }
}
/*Image*/

/*button*/

.btn_bg1{
    background-color: #ffcd3a;
    border-color: #ffcd3a;
}
.btn_bg2{
    background-color: #727270;
    border-color: #727270;
    color: white;
}

.btn_bg3{
    background-color: #f6802f;
    border-color: #f6802f;
    color: white;
}

.btn_bg4{
    background-color: black;
    border-color: black;
    color: white;
}

.promotion_ad1 {
    width: 200px;
    height: 57px;
    overflow: hidden;
}

@media (max-width:1000px) {
    .promotion_ad1 {
        padding: 20px;
    }

}

/*a href*/

.a_default:hover{
    text-decoration:none;
    color: black;
}
.a_default{
    text-decoration:none;
    color: black;
}
.a_default2{
    text-decoration:none;
    color: white;
}

/*a href*/

/*Image Slider*/

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

.nav-pills>li[data-slide-to="0"].active  { background-color: #fca833;color: black }
.nav-pills>li[data-slide-to="0"]  { background-color: #727270;color: white;border-image: url(../images/strip.png) 0 200 30 30; }
.nav-pills>li[data-slide-to="1"].active  { background-color: #fca833; color: black}
.nav-pills>li[data-slide-to="1"]  { background-color: #727270;color: white;border-image: url(../images/strip.png) 0 200 30 30; }
.nav-pills>li[data-slide-to="2"].active  { background-color: #fca833;color: black }
.nav-pills>li[data-slide-to="2"]  { background-color: #727270;color: white;border-image: url(../images/strip.png) 0 200 30 30; }



/*Image Slider*/

/*testimonal*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}
/*testimonal*/

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
    height: auto;
}


/*BY - sathish*/